## virtual environment
venv/

## geeks solutions

# backtracking
cryptarithmetric_google.py
knights_tour_geeks.py
rat_in_the_maze_geeks.py
subset_sum_problem_geeks.py
hamiltonian_cycle_geeks.py
n_queen_problem_geeks.py
sodoku/sodoku_geeks.py

